.ChooseGame {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.gameType {
  width: 100px;
  padding: 10px 0;
  &:hover {
    background: #f5ffe9;
    cursor: pointer;
  }
  &.currentGameType {
    background: #d2cfe8;
  }
}